*{font-family: 'Open Sans', sans-serif;margin: 0;padding: 0;}

nav{top: 0;left: 0;width: 100%;height: 80px;z-index: 1000;margin-top: 0;
    position: fixed;padding-top: 0px;background: none; transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
nav .nav-background{top: 0px;opacity: 0;width: 100%; height: 100%;z-index: 1500;display: table;
    background: none;position: absolute;transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);}/* nav 백그라운드 너비 */
nav.open .nav-background {opacity: 1;background-color: rgba(247, 182, 23, 0.81) !important;
    transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);}/* nav 열었을 때 보일수 있도록 색깔.. */
nav.open {height: 100%;transition: none;-o-transition: none;-moz-transition: none;-webkit-transition: none;}
/* nav 리스트 */
nav ul {top: -10%;padding: 0;opacity: 0;width: 100%;text-align: center; visibility: hidden;display: table-cell;
    vertical-align: middle; transform: perspective(600px) rotateX(10deg);transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);}
nav ul li{visibility: hidden;}
nav ul li a{text-decoration: none; color:white;width: 100%;display: block;padding: 8px 0 0;letter-spacing: -0.06em;}
nav ul li a:hover{color:rgba(247, 182, 23, 0.81) ;background-color: white;}/* 텍스트에 마우스 오버시  */
nav.open ul {top: 0;opacity: 1;margin-top: 0;visibility: visible;transform: perspective(600px) rotateX(0deg);}
nav.open ul li {color:#fff;font-size: 60px;font-weight: bold;visibility: visible !important;}

/*HAMBUGER 메뉴의 간격*/
/* style.css 스크립트에 연결되어 있는 페이지들의 배경색이 흰색이기때문에 메뉴의 색깔은 노란색으로 변경 */
.menu{position: absolute; z-index: 2000;}
.menu{position: fixed; top:0;right:0;height: 4px;width: 24px;text-align:right; margin: 2rem 2rem;background: rgba(247, 182, 23, 0.81);}
.menu:before{top: -8px;}
.menu:after{top: 8px;}
.menu:before,.menu:after{content: '';width: 24px;height: 4px;z-index: -1;display: block;position: absolute;background: rgb(247, 182, 23);}

/* MOUSE CURSOR */
#cursor-bg{overflow:hidden;position:fixed;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);pointer-events:none
}
#cursor-bg{z-index:400;width:30px;height:30px;border:10px solid  #ff6c38;;border-radius:80%;-webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955)}

/* INDEX.HTML IMG-AREA */
article.img-area {padding-top: 63px;}